<% provide(:title, 'Help') %>

	<h1>Help</h1>
<p>

Get help on this Ruby on Rails Tutorails at the
<a href="http://railstutorials.org/help">Rails Tutorial help page</a>

To get help on This Sample app. See the
<a href="http://railstutorials.org/book">Rails Tutorial book</a>
</p>

